### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [9]:
#total # of schools
total_schools = len(school_data_complete["School ID"].unique())
total_schools

15

In [10]:
#total # of students
total_students = len(school_data_complete["Student ID"].unique())
total_students

39170

In [11]:
#total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [16]:
#avg math score
avg_math_score = student_data["math_score"].mean()
avg_math_score

78.98537145774827

In [15]:
#avg reading score
avg_read_score = student_data["reading_score"].mean()
avg_read_score

81.87784018381414

In [26]:
#percentage of passing math
student_data["passing_math"] = student_data["math_score"] >= 70
percent_pass_math = ((student_data["passing_math"]).mean())*100
percent_pass_math

74.9808526933878

In [27]:
#percentage of passing reading
student_data["passing_read"] = student_data["reading_score"] >= 70
percent_pass_read = ((student_data["passing_read"]).mean())*100
percent_pass_read

85.80546336482001

In [33]:
#percentage of passing for both math & reading
percent_overall_pass = (percent_pass_read + percent_pass_math)/2
percent_overall_pass

80.39315802910392

In [44]:
#create dataframe
district_summary = [{"Total Schools":total_schools,
                     "Total Students":total_students,
                     "Total Budget":total_budget,
                     "Average Math Score":round(avg_math_score,2),
                     "Average Reading Score":round(avg_read_score,2),
                     "% Passing Math":round(percent_pass_math,2),
                     "% Passing Reading":round(percent_pass_read,2),
                     "% Overall Passing Rate":round(percent_overall_pass,2)}]

district_summary_table = pd.DataFrame(district_summary)
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

In [48]:
#optional formatting
district_summary_table = pd.DataFrame(district_summary)

district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:,.2f}%".format)
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:,.2f}%".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].map("{:,.2f}%".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,.2f}".format)
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)

district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [77]:
#Groupby School Name
school_group = school_data_complete.groupby(["school_name"]).mean()
school_group["Per Student Budget"] = school_group["budget"]/school_group["size"]
school_group["% Passing Math"] = round(school_group["passing_math"]*100,2)
school_group["% Passing Reading"] = round(school_group["passing_reading"]*100,2)
school_group["% Overall Passing Rate"] = ((round(school_group["passing_math"]+school_group["passing_reading"])/2)*100)

school_group

,Student ID,reading_score,math_score,School ID,size,budget,passing_math,passing_reading,pass_math,pass_reading,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.666801,0.819333,0.666801,0.819333,628.0,66.68,81.93,50.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.941335,0.970398,0.941335,0.970398,582.0,94.13,97.04,100.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.659885,0.807392,0.659885,0.807392,639.0,65.99,80.74,50.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.683096,0.792990,0.683096,0.792990,644.0,68.31,79.30,50.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.933924,0.971390,0.933924,0.971390,625.0,93.39,97.14,100.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,0.667530,0.808630,0.667530,0.808630,652.0,66.75,80.86,50.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0,0.925059,0.962529,0.925059,0.962529,581.0,92.51,96.25,100.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,0.656839,0.813164,0.656839,0.813164,655.0,65.68,81.32,50.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,0.660576,0.812224,0.660576,0.812224,650.0,66.06,81.22,50.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0,0.945946,0.959459,0.945946,0.959459,609.0,94.59,95.95,100.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,0.663666,0.802201,0.663666,0.802201,637.0,66.37,80.22,50.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,0.938671,0.958546,0.938671,0.958546,600.0,93.87,95.85,100.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,0.932722,0.973089,0.932722,0.973089,638.0,93.27,97.31,100.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,0.938677,0.965396,0.938677,0.965396,578.0,93.87,96.54,100.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,0.933333,0.966111,0.933333,0.966111,583.0,93.33,96.61,100.0

In [84]:
#Merge school_group & school_data (and delete extra columns)
school_data_full = pd.merge(school_group,school_data, how="left", on = ["school_name", "school_name"])
del school_data_full["size_y"]
del school_data_full["budget_y"]
del school_data_full["Student ID"]
del school_data_full["School ID_x"]
del school_data_full["pass_math"]
del school_data_full["pass_reading"]
del school_data_full["School ID_y"]
del school_data_full["passing_math"]
del school_data_full["passing_reading"]

school_data_full

,school_name,reading_score,math_score,size_x,budget_x,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate,type
0,Bailey High School,81.033963,77.048432,4976.0,3124928.0,628.0,66.68,81.93,50.0,District
1,Cabrera High School,83.975780,83.061895,1858.0,1081356.0,582.0,94.13,97.04,100.0,Charter
2,Figueroa High School,81.158020,76.711767,2949.0,1884411.0,639.0,65.99,80.74,50.0,District
3,Ford High School,80.746258,77.102592,2739.0,1763916.0,644.0,68.31,79.30,50.0,District
4,Griffin High School,83.816757,83.351499,1468.0,917500.0,625.0,93.39,97.14,100.0,Charter
5,Hernandez High School,80.934412,77.289752,4635.0,3022020.0,652.0,66.75,80.86,50.0,District
6,Holden High School,83.814988,83.803279,427.0,248087.0,581.0,92.51,96.25,100.0,Charter
7,Huang High School,81.182722,76.629414,2917.0,1910635.0,655.0,65.68,81.32,50.0,District
8,Johnson High School,80.966394,77.072464,4761.0,3094650.0,650.0,66.06,81.22,50.0,District
9,Pena High School,84.044699,83.839917,962.0,585858.0,609.0,94.59,95.95,100.0,Charter
10,Rodriguez High School,80.744686,76.842711,3999.0,2547363.0,637.0,66.37,80.22,50.0,District
11,Shelton High School,83.725724,83.359455,1761.0,1056600.0,600.0,93.87,95.85,100.0,Charter
12,Thomas High School,83.848930,83.418349,1635.0,1043130.0,638.0,93.27,97.31,100.0,Charter
13,Wilson High School,83.989488,83.274201,2283.0,1319574.0,578.0,93.87,96.54,100.0,Charter
14,Wright High School,83.955000,83.682222,1800.0,1049400.0,583.0,93.33,96.61,100.0,Charter

In [89]:
#create data frame 
school_full_dataframe = pd.DataFrame({"School Name":school_data_full["school_name"],
                                      "School Type":school_data_full["type"],
                                      "Total Students":school_data_full["size_x"],
                                      "Total School Budget":school_data_full["budget_x"],
                                      "Per Student Budget":school_data_full["Per Student Budget"],
                                      "Average Math Score":school_data_full["math_score"],
                                      "Average Reading Score":school_data_full["reading_score"],
                                      "% Passing Math":school_data_full["% Passing Math"],
                                      "% Passing Reading":school_data_full["% Passing Reading"],
                                      "% Overall Passing":school_data_full["% Overall Passing Rate"]})

#format
school_full_dataframe["Total Students"] = school_full_dataframe["Total Students"].map("{:,.0f}".format)
school_full_dataframe["Per Student Budget"] = school_full_dataframe["Per Student Budget"].map("${:,.2f}".format)
school_full_dataframe["Total School Budget"] = school_full_dataframe["Total School Budget"].map("${:,.2f}".format)
school_full_dataframe["Average Math Score"] = school_full_dataframe["Average Math Score"].map("{:,.2f}".format)
school_full_dataframe["Average Reading Score"] = school_full_dataframe["Average Reading Score"].map("{:,.2f}".format)

school_full_dataframe

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,50.0
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,100.0
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,50.0
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,50.0
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,100.0
5,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,50.0
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,100.0
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,50.0
8,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,50.0
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,100.0
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,50.0
11,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,100.0
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,100.0
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,100.0
14,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,100.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [102]:
top_5 = school_full_dataframe.sort_values(["% Overall Passing"], ascending=False)
top_5.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,100.0
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,100.0
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,100.0
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,100.0
11,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,100.0

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [103]:
last_5 = school_full_dataframe.sort_values(["% Overall Passing"], ascending=True)
last_5.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,50.0
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,50.0
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,50.0
5,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,50.0
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,50.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [107]:
ninth = school_data_complete.loc[school_data_complete["grade"] == "9th"]
tenth = school_data_complete.loc[school_data_complete["grade"] == "10th"]
eleventh = school_data_complete.loc[school_data_complete["grade"] == "11th"]
twelfth = school_data_complete.loc[school_data_complete["grade"] == "12th"]

math_9 = ninth.groupby("school_name")["math_score"].mean()
math_10 = tenth.groupby("school_name")["math_score"].mean()
math_11 = eleventh.groupby("school_name")["math_score"].mean()
math_12 = twelfth.groupby("school_name")["math_score"].mean()

math_school_grades = pd.DataFrame({"9th":math_9,"10th":math_10,"11th":math_11,"12th":math_12})

math_school_grades

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [108]:
ninth = school_data_complete.loc[school_data_complete["grade"] == "9th"]
tenth = school_data_complete.loc[school_data_complete["grade"] == "10th"]
eleventh = school_data_complete.loc[school_data_complete["grade"] == "11th"]
twelfth = school_data_complete.loc[school_data_complete["grade"] == "12th"]

read_9 = ninth.groupby("school_name")["reading_score"].mean()
read_10 = tenth.groupby("school_name")["reading_score"].mean()
read_11 = eleventh.groupby("school_name")["reading_score"].mean()
read_12 = twelfth.groupby("school_name")["reading_score"].mean()

read_school_grades = pd.DataFrame({"9th":read_9,"10th":read_10,"11th":read_11,"12th":read_12})

read_school_grades

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208